@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
.custom-font {
  font-family: 'Montserrat', sans-serif !important;
}

.custom-font-light {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: lighter;
}

.dark-bg {
  background-color: rgb(57, 51, 70);
  color: white;
}

.light-bg {
  background-color: rgb(241, 238, 247);
}

.column {
  display: flex;
  justify-content: center;
}

.center-title {
  text-align: center;
}

.is-med-lg {
  padding: 10rem 1.5rem !important;
}

.navbar {
  background-color: rgb(57, 51, 70);
  width: 100vw;
  position: sticky;
}

.left-nav {
  color: rgb(241, 238, 247);
}

.right-nav a {
  color: rgb(241, 238, 247);
}

.right-nav a {
  padding: 0 7px;
}

.nav-container {
  width: 100vw;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-container {
  height: 100%;
  border-left: 20px solid red;
}

.service-card {
  position: absolute;
  top: -30px;
  background-color: white;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .5);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 290px;
  width: 370px;
  transition: all 0.5s ease-out;
}

.service-card:hover {
  top: -60px;
  transform: scale(1.05)
}

.services-section {
  position: relative;
}

.services-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -70px;
}

.projects-section {
  position: relative;
}

.projects-section h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50px;
}

.projects-section p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 120px;
}

.projects-container {
  padding: 0 80px;
  width: 100vw;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
}

#beatween img {
  transform: scale(1.9);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .5);
}

#game-blog img {
  transform: scale(1.5);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .5);
  z-index: -1;
}

#book-a-friend img {
  transform: scale(1.5);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .5);
  z-index: -1;
}

.project-card {
  display: flex;
  align-items: flex-end;
}

.contact-section {
  position: relative;
}

.contact-section h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50px;
}

.form-container {
  width: 70%;
}

.contact-text {
  width: 70%;
}

.custom-btn {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 150px;
  padding: 15px 25px;
  border-radius: 25px;
  background-color: rgb(64, 193, 146);
  text-decoration: none;
  color: rgb(241, 238, 247);
  transition: all 0.5s ease-out;
}

.custom-btn:hover {
  background-color: rgba(64, 193, 146, 0.7);
  color: white;
}

.custom-btn a {
  text-decoration: none;
}

.custom-btn i {
  padding-right: 7px;
  color: rgb(241, 238, 247);
}

.greyscale {
  height: 70px;
  filter: grayscale(100%);
}

.tech-icons-container {
  margin-top: 50px;
}

